/*... (rest of the code remains the same) */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
 .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
    z-index: 1000;
  }

 .logo {
    max-width: 20%; /* Adjust the percentage to your desired size */
    height: auto;
  }

 .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

 .navbar li {
    margin-right: 20px;
  }

 .navbar a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
  }

 .navbar a:hover {
    color: #ccc;
  }

 .container {
    padding-top: 60px; /* Adjust this value as needed */
  }
}



/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Arial', sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body[dir="rtl"] {
    text-align: right;
    direction: rtl;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    color: #333;
    background: #fff7f0;
    line-height: 1.6;
    font-smoothing: antialiased;
    padding: 0;
    margin: 0;

/* Container */
.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.no-underline {
    text-decoration: none;
    color: inherit;
}

/* Navbar */
.logo-img {
    height: 50px; /* Adjust the size of the logo */
    margin-right: 10px; /* Space between the logo and the text */
    transition: transform 0.3s ease, filter 0.3s ease;
}
.logo-img:hover {
    transform: scale(1.1); /* Slightly increase size on hover */
    filter: brightness(1.2); /* Brighten the logo */
}
.logo-text:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    transition: background-color 0.5s ease, padding 0.3s ease;
    justify-content: space-between;
    align-items: center;
    background: #fff7f0;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 15px 5%;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap; /* Allows the navbar items to wrap on smaller screens */
}

.navbar.scrolled {
    background-color: #b0754a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 5%;
}

.navbar a {
    text-align:center;
}

}
.logo-text {
    font-size: 1.8em;
    color: #bf754f;
    font-weight: 600;
    text-decoration: none;
    order: 1;
}

.menu {
    display: flex;
    justify-content: flex-start;
    gap: 20px; /* Ensure there's space between items */
    order: 2; /* Move menu items below the logo on smaller screens */
}
.menu a {
    text-align: center;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #b0754a;
    padding: 8px 15px;
    border-radius: 8px;
    transition: background 0.3s ease, color 0.3s ease;
}

.menu a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #b0754a;
    transition: width 0.3s;
}

.menu a:hover:after {
    width: 100%;
}

.menu-toggle {
    font-size: 2.5rem;
    position: absolute;
    right: 20px;
    top: 15px;
}
.menu a:hover {
    background-color: #d89b61;
    color: #fdfcf7;
}

/* Mobile Menu Toggle */
.navbar .menu-toggle {
    display: none;
    font-size: 2em;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #b0754a;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    animation: modal-appear 0.5s ease-in-out;
}

.close-button {
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    color: #b0754a;
}

.close-button:hover {
    color: #d89b61;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

table th {
    color: #b0754a;
}


/* Hero Section */
.hero {
    transition: background-color 0.5s ease, padding 0.3s ease;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #9cc7ff, #d89b61);
    padding: 0 20px;
    background-color: #fffcf4;
    color: white;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hero h1 {
    font-size: 3.5em;
    margin-bottom: 0.5em;
    color: #b0754a;
    line-height: 1.3;
}

.hero p {
    font-size: 1.3em;
    margin-bottom: 1em;
    color: #b0754a;
    line-height: 1.6;
}

.cta-button {
    cursor: pointer;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
    background: #d89b61;
    color: #fdfcf7;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 1.1em;
}

.cta-button:hover {
    background: #b0754a;
    transform: translateY(-5px);
    background-color: #b0754a;
}

/* Products Section */
.products {
    padding: 60px 5%;
    text-align: center;
}

.products h2 {
    color: #d89b61;
    margin-bottom: 40px;
}

.product-gallery {
    display: flex;
    grid-template-columns: repeat(4, 1fr); /* 4 columns for desktop */
    gap: 2px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item {
    padding:10px;
    width: 22%;
    text-align: center;
    margin-bottom: 20px;
    background-color: #f4f4f4;
}

.product-item img:hover {
    transition: transform .4s ease;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-item:hover p {
    color: #b0754a;
}

.product-item img {
    width: 100%;
    height:auto;
    display:block;
    margin:0 auto;
    border-radius: 10px;
    min-height: 200px; /* Adjust based on image size */
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transition: transform .4s ease;
}

.product-item p {
    margin-top: 10px;
    color: #555;
    font-size: 1.1em;
    transition: color 0.3s ease;
    padding: 5px 0;
}

/* Contact Us Section */
.contact {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff7f0;
}

.contact-container {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 100%;
    max-width: 700px;
}

.contact h2 {
    font-size: 2.5em;
    color: #b0754a;
    margin-bottom: 20px;
    text-align: center;
}

.contact p {
    color: #555;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 30px;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    background: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contact input:focus,
.contact textarea:focus {
    border-color: #b0754a;
    box-shadow: 0 0 8px rgba(176, 117, 74, 0.4);
    outline: none;
}

.contact textarea {
    resize: none;
    height: 120px;
}

.contact button {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
    background: #b0754a;
    color: #fff;
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    align-self: center;
}

.contact button:hover {
    background: #d89b61;
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(216, 155, 97, 0.3);
}

/* About Section */
.about {
    padding: 80px 5%;
    text-align: center;
    background-color: #f7f7f7;
}

.about h2 {
    font-size: 2.5em;
    color: #b0754a;
    margin-bottom: 40px;
    text-align: center;
}

.about p {
    max-width: 800px;
    margin: 0 auto 20px auto;
    color: #555;
    line-height: 1.8;
    font-size: 1.1em;
    text-align: center;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    max-width: 400px;
    text-align: center;
}

.about-image img {
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-description {
    flex: 2;
    color: #555;
    line-height: 1.8;
}

.about-description p {
    margin-bottom: 15px;
}


/* Footer */
footer {
    background: #b0754a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer .social-icons .tg-channel{
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer .social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
}

footer .social-icons a:hover {
    color: #d89b61;
}

footer .tg-channel a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
}

footer .tg-channel a:hover {
    color: #d89b61;
}

.cta-button, .menu a, .contact button {
    outline: none; /* Remove default outline */
}

.cta-button:focus, .menu a:focus, .contact button:focus {
    outline: 2px solid #d89b61;
    background-color: #b0754a;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-thumb {
    background-color: #b0754a;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-image {
        margin-bottom: 20px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding:10px;
    }

    .modal {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .menu {
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out;
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #fff7f0;
        padding: 15px 0;
        position: absolute;
        top: 89px; /* Adjust to navbar height */
        left: 0;
        z-index: 999;
    }

    .menu a {
        padding: 5px;
        text-align: center;
        color: #b0754a;
        text-decoration: none;
        display: block;
    }

    .menu a:hover {
        background-color: #d89b61;
        color: #fff;
    }

    .menu.open {
        transform: translateY(0);
        display: flex; /* Show the menu when it's toggled open */
    }

    .navbar .menu-toggle {
        display: block;
    }

    .hero h1 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1.1em;
    }

    .product-gallery {
        align-items: center;
        grid-template-columns: repeat(2, 1fr); /* 2 columns on mobile */
        gap: 10px;

    }

    .product-item {
        width: 80%;
        margin-bottom: 15px;
    }

    .contact-container {
        width: 90%;
        padding: 25px;
    }

    .about p {
        font-size: 1em;
        text-align: left;
    }

    .footer .social-icons a {
        margin: 0 5px;
        font-size: 1em;
    }

    .image-item {
        width: calc(100% - 20px); /* 1 column on mobile */
    }

    .gallery h2 {
        font-size: 2em;
    }

    .gallery p {
        font-size: 1em;
    }
}

.language-switcher {
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-items: center;
}

.lang-btn {
    padding: 5px 10px;
    background-color: #d89b61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.lang-btn:hover {
    background-color: #b0754a;
}

.lang-btn.active {
    background-color: #b0754a;
    font-weight: bold;
}
/* Gallery Section */
.gallery {
    padding: 60px 5%;
    background-color: #fff7f0;
    text-align: center;
}

.gallery h2 {
    font-size: 2.5em;
    color: #b0754a;
    margin-bottom: 20px;
}

.gallery p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 40px;
}

/* Image Gallery Styling */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.image-item {
    width: calc(33.333% - 20px); /* 3 columns with spacing */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.image-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.image-item img {
    transition: transform 0.3s ease, filter 0.3s ease;
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
}

.image-item:hover img {
    transform: scale(1.05);
    filter: brightness(0.9);
}

.image-info {
    padding: 15px;
    text-align: center;
    background-color: #f9f9f9;
    font-size: 0.9em;
}

.image-info p {
    margin-bottom: 8px;
    color: #333;
}

.image-info p strong {
    color: #b0754a;
}

/* Optimized for devices with max-width of 1024px */



.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 800px;
    margin: 2.5% auto;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slideshow-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 440px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.slideshow-section img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.slide-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.slide-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


#prev-slide {
    left: 10px;
}

#next-slide {
    right: 10px;
}

.description-section {
    text-align: left;
}

@media (prefers-contrast: high) {
    body {
        background-color: #fff;
        color: #000;
    }
    .menu a {
        background-color: #000;
        color: #fff;
    }
}

